<!--Me permite implemetar otros modulos in decirle a html repitame còdigo-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets/img/computer.png" width="30" height="30" class="d-inline-block align-top" alt=""> <b> What Do You Need</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categorias
        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Transporte</a>
                    <a class="dropdown-item" href="#">Textil</a>
                    <a class="dropdown-item" href="#">Tecnologia</a>
                    <a class="dropdown-item" href="#">Educación</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Información</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pagos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Vende con nosotros</a>
            </li>
        </ul>

    </div>
</nav>

<router-outlet></router-outlet>