<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">



</head>

<body>
    <div class="container-fluid">
        <div class="main col-12 ">
            <div class="img text-center">
                <img src="assets/img/computer.png" alt="logo">
            </div>
            <div class="texto">
                <h1 class="cover-heading display-4 mb-3 text-center">¿Necesitas un favor o servicio?</h1>
                <p class="lead mb-4 text-center">
                    <b>What Do You Need</b> es la tienda que necesitas, aquí puedes encontrar el servicio<br> que gustes desde transporte, hasta alguine que te cocine
                </p>
                <p class="lead text-center">
                    <a href="productos/productos.component.html" class="btn btn-lg btn-info mb-4"><i class="fas fa-shopping-basket"></i>  What Do You Need</a>
                </p>

            </div>


        </div>

    </div>
</body>
<footer class="mastfoot mt-4 text-center">
    <div class="inner">
        <p>Desarrollado por: Yeisson Osorno Paternina, Emanuel Uran Vargas, Cristian Usuga Urrego</p>
    </div>
</footer>

</html>